@charset "utf-8";
@import url('../css/base.css');


.oe_ly_header {padding: 12px; width: 1024px; margin: 0 auto;}
.oe_ly_main {width: 1024px; margin: 0 auto;}
.oe_ly_contents {margin-left: 190px; padding: 35px 40px;}
.oe_ly_dateCat {margin-bottom: 40px; display: flex; border-bottom: 1px solid #e5e5ec;}
.oe_ly_mainValue {margin-bottom: 30px;}
.oe_ly_tableFooter {margin-top: 20px; position: relative;}



.oe_bl_header {display: flex; align-items: center;}
.oe_bl_header_imgWrapper {width: 74px; height: 34px;}
.oe_bl_header_imgWrapper img {width: 100%; height: 100%; object-fit: cover; object-position: center;}
.oe_bl_header_txt {font-size: 20px; color: #fff; margin-left: 20px; padding-left: 20px; border-left: 1px solid rgba(255,255,255,0.3);}

.oe_bl_sideNavBar {position: fixed; top: 58px; width: 190px; height: 100vh; padding-left: 20px; padding-right: 20px; border-right: 1px solid #e1e1e1;}
.oe_bl_sideNavBar_list { border-bottom: 1px solid #e5e5ec; padding-top: 18px; padding-bottom: 18px; }
.oe_bl_sideNavBar_list a {display: inline-block; font-weight: bold; font-size: 13px;}
.oe_bl_sideNavBar_subList a {font-size: 12px; font-weight: normal; display: block; margin-top: 8px;}
.oe_bl_sideNavBar_subList a:hover, .oe_bl_sideNavBar_list a:hover {opacity: 0.7;}
/* 모디파이어 */
.oe_bl_sideNavBar_list.on a, .oe_bl_sideNavBar_subList.on a {color: #25a765; }
.oe_bl_sideNavBar_list.on a:hover, .oe_bl_sideNavBar_subList.on a:hover {opacity: 1; cursor: default;}

.oe_bl_mainCat_wrapper {padding-top: 35px; padding-bottom: 40px;}
.oe_bl_mainCat {display: flex; border-bottom: 1px solid #e5e5ec;}
.oe_bl_mainCat_list {cursor: pointer; background: #f1f1f6; width: 100px; height: 40px; font-size: 13px; display: flex; align-items: center; justify-content: center; border: 1px solid #e5e5ec; position: relative; top: 1px;}
.oe_bl_mainCat_list:not(:last-child) {border-right: none;}
.oe_bl_mainCat_list:hover {opacity: 0.7;}
/* 모디파이어 */
.oe_bl_mainCat_list.on {background: #fff; font-weight: bold; border-bottom: 1px solid #fff;}
.oe_bl_mainCat_list.on:hover {cursor: default; opacity: 1;}

.oe_bl_subCat {display: flex;}
.oe_bl_subCat_list {width: 78px; height: 32px; font-size: 13px; border: 1px solid #e5e5ec; color: #767676; display: flex; justify-content: center; align-items: center; position: relative; top: 1px;}
.oe_bl_subCat_list:hover {opacity: 0.7; cursor: pointer;}
.oe_bl_subCat_list:not(:last-child) {border-right: none;} 
/* 모디파이어 */
.oe_bl_subCat_list.on {color: #191919; border: 1px solid #191919;}

.oe_bl_dateSearch {display: flex; align-items: center; position: relative; top: 1px; margin-left: 18px;}
.oe_bl_dateSearch_inpWrapper input {display: block; height: 32px; padding: 0 8px; width: 120px; border: 1px solid #e5e5ec; background: url(/images/ic_schedule.svg) right 8px center no-repeat; cursor: pointer;}
.oe_bl_dateSearch_inpWrapper input::placeholder {color: #191919;}
.oe_bl_dateSearch_hyphen {width: 6px; height: 1px; background: #e5e5ec; margin: 0 4px;}
.oe_bl_dateSearch_btn {width: 78px; height: 32px; background: black; color: #fff; border: none; margin-left: 18px; cursor: pointer;}
.oe_bl_dateSearch_btn:hover {opacity: 0.7;}

.oe_bl_mainTable {width: 100%;}
.oe_bl_mainTable_row {border-bottom: 1px solid #e5e5ec;}
.oe_bl_mainTable_row:first-child {border-bottom: 1px solid #191919;}
.oe_bl_mainTable_cat {height: 32px; font-size: 12px; color: #767676; line-height: 32px;}
.oe_bl_mainTable_col {height: 40px; font-size: 13px; color: #191919; line-height: 40px; text-align: center;}
.oe_bl_mainTable_col button {margin: 0 2px;}
.oe_bl_mainTable_col button:not(.un_trueBtn):hover {background: #f1f1f6; cursor: pointer;}
.oe_bl_mainTable_col button:not(.un_falseBtn):hover {background: #f1f1f6; cursor: pointer;}
/* 모디파이어 */
.oe_bl_mainTable_cat.oe_bl_mainTable_cat__w170 {width: 170px;}
.oe_bl_mainTable_cat.oe_bl_mainTable_cat__w107 {width: 107px;}
.oe_bl_mainTable_cat.oe_bl_mainTable_cat__w246 {width: 246px;}
.oe_bl_mainTable_cat.oe_bl_mainTable_cat__w57 {width: 57px;}
.oe_bl_mainTable_cat.oe_bl_mainTable_cat__w174 {width: 174px;}

.oe_bl_pageControl {display: flex; align-items: center; justify-content: center;}
.oe_bl_pageControl p {font-size: 14px; color: #767676; margin: 0 14px;}
.oe_bl_pageControl a {display: inline-block; width: 28px; height: 28px; margin: 0 2px;}

.oe_bl_pop_wrapper {display: flex; justify-content: center; align-items: center; background: rgba(0,0,0,0.3); width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 999;}
.oe_bl_pop {background: #fff; padding: 25px 30px 40px 30px; display: flex; flex-direction: column; align-items: center; border-radius: 10px;}
.oe_bl_pop_subTxt {font-size: 14px; margin-bottom: 12px; width: 100%;}
.oe_bl_pop_Txt {font-size: 18px; line-height: 26px; margin-bottom: 30px; width: 100%;}
.oe_bl_pop_Txt strong {font-weight: bold;}
.oe_bl_pop button:hover {opacity: 0.7;}
.oe_bl_pop_cntBox {width: 312px; height: 108px; border: 1px solid #e5e5ec; padding: 15px 20px; margin-bottom: 30px; font-size: 14px; line-height: 20px; overflow-y: auto; border-radius: 5px;}
.oe_bl_pop_cntBox:focus {outline: 1px solid #25a765}
.oe_bl_pop_cntBox:focus::placeholder {color: transparent;}
.oe_bl_pop_cntBox h3 {color: #767676; margin-bottom: 10px;}
/* 모디파이어 */
.oe_bl_pop_Txt.oe_bl_pop_Txt__center {text-align: center;}

.oe_bl_changeNum {display: flex; align-items: center; margin-bottom: 30px;}
.oe_bl_changeNum a {display: block; width: 40px; height: 40px; margin: 0 8px; background: url(/images/ic_change.svg) center / cover; position: relative; top: 6px;}
.oe_bl_changeNum_inpUnit {text-align: center;}
.oe_bl_changeNum_inpUnit p {font-size: 12px; color: #505050; margin-bottom: 6px;}
.oe_bl_changeNum_inpUnit input {width: 70px; height: 40px; border-radius: 5px; text-align: center; border: 1px solid #191919; background: transparent;}
.oe_bl_changeNum_inpUnit input:focus {outline: none; border: 1px solid #25a765;}
.oe_bl_changeNum_inpUnit input:focus::placeholder {color: transparent;}
.oe_bl_changeNum_inpUnit input::placeholder {text-align: center; color: #191919;}
.oe_bl_changeNum_inpUnit input::-webkit-outer-spin-button,
.oe_bl_changeNum_inpUnit input::-webkit-inner-spin-button {-webkit-appearance: none;}
/* 모디파이어 */
.oe_bl_changeNum_inpUnit.oe_bl_changeNum_inpUnit__soft input { border: 1px solid #e5e5ec;}
.oe_bl_changeNum_inpUnit.oe_bl_changeNum_inpUnit__soft input::placeholder {color: #767676;}


.oe_el_mainTtl_wrapper {border-bottom: 1px solid #e5e5ec;}
.oe_el_mainTtl {font-size: 20px; font-weight: bold; margin-bottom: 12px;}

.oe_el_mainValue_subTxt {font-size: 12px; color: #767676;}
.oe_el_mainValue_txt {font-size: 38px; margin-top: 4px;}
.oe_el_mainValue_txt span {font-size: 16px; display: inline-block; margin-left: 4px;}

.oe_el_bgBtn48_wrapper > .oe_el_bgBtn48 {margin: 0 4px;}
.oe_el_bgBtn48 {width: 162px; height: 48px; background: #25a765; border: none; color: #fff;}
/* 모디파이어 */
.oe_el_bgBtn48.oe_el_bgBtn48_s {width: 145px;}
.oe_el_bgBtn48.oe_el_bgBtn48_soft {background: #F1F1F0; color: #767676;}

.oe_el_lineBtn {border: 1px solid #e5e5ec; color: #191919; height: 30px; font-size: 13px; padding: 0 12px; border-radius: 5px; background: none;}
.oe_el_lineBtn.oe_el_lineBtn__c76 {color: #767676;}

.oe_el_countView {height: 32px; width: 123px; color: #505050; font-size: 13px; border: 1px solid #e5e5ec; padding: 0 12px; appearance: none; background: url(/images/ic_arrow__bottom.svg) right 12px center no-repeat;}
/* 모디파이어 */
.oe_el_countView.oe_el_countView__posTableBtm { position: absolute; top: -5px; right: 0;}



.oe_hp_bgGreen {background: #25a765; font-size: 13px; font-weight: bold;}
.oe_hp_nomalCusor {cursor: default !important;}
.oe_hp_nomalCusor:hover {opacity: 1 !important;}
.oe_hp_cGreen {color: #25a765;}
.oe_hp_cRed {color: #dc0000;}



.oe_un_falseBtn {color: #dc0000; background: none; border: none; }
.oe_un_trueBtn {color: #25a765; background: none; border: none; }



.oe_ic_roundArrow__left {background: url(/images/ic_roundArrow__left.svg) center / cover;}
.oe_ic_roundArrow__left.oe_rev {transform: rotate(180deg);}
.oe_ic_roundArrow__left2 {background: url(/images/ic_roundArrow__left2.svg) center / cover;}
.oe_ic_roundArrow__left2.oe_rev {transform: rotate(180deg);}

